<div id="primary" class="single-post">
	<div class="inside">
	
		{{ 'profil' | section | assign_to: 'current_section' }}
	
    	<div class="secondary menu">
			<h2>{{ current_section.name }}</h2>
      		<div class="featured">
				{% for page in current_section.pages %}
			   	<p>{{ page | link_to_page: current_section }}</p>
				{% endfor %}
      		</div>
    	</div>
    	<hr class="hide" />
    	<div class="primary story">

 			<h1>{{ current_section.articles[3].title }}</h1>
  			{{ current_section.articles[3].body }}

			{% include 'contactform' %}
    	</div>
  	<div class="clear"></div>
	</div>
</div>
<!-- [END] #primary -->
